In [11]:
import pandas as pd
import hashlib

In [12]:
# Hash the input_text using SHA3 and return 256-bit hash-value
def hash_string(input_text):
    encoded_input = input_text.encode()
    sha_obj = hashlib.sha3_256(encoded_input)
    return sha_obj.hexdigest()
    
hash_string("abc")

'3a985da74fe225b2045c172d6bd390bd855f086e3e9d525b46bfe24511431532'

In [13]:
# Import data
data = pd.read_csv('orders.csv')
data

            name   product_id   amount   price
0    Anika Martz           23        1   36.00
1    Anika Martz           45        3   29.50
2    Anika Martz           36        2   50.30
3   Justine Blau            2        6   10.80
4   Justine Blau           45        6   59.00
5    Holger Gant           36        1   25.15
6    Anika Martz           15        7   30.00
7    Anika Martz            4        9   27.99
8    Holger Gant           36        2   50.30
9    Holger Gant           15       14   60.00
10   Holger Gant            2        3    5.40
11  Anton Semmer           12        4   95.00
12  Justine Blau            2        6   10.80
13   Holger Gant           36        3   75.45
14  Anton Semmer            4        3    9.33
15  Anton Semmer           12        8  190.00
16  Anton Semmer            2        3    5.40
17  Justine Blau            2        6   10.80
18  Justine Blau           15        7   30.00
19   Anika Martz           23        1   36.00

In [14]:
import secrets
salt = secrets.token_urlsafe(16)
salt

'jnTl02UPEt5nwCDk4Nj7hA'

In [15]:
# Hash column name
data['name'] = data['name'].apply(lambda x: hash_string(x + salt))
data

,name,product_id,amount,price
0,ae4d0de523edff711663ad19ab2489356a64f836807d92...,23,1,36.00
1,ae4d0de523edff711663ad19ab2489356a64f836807d92...,45,3,29.50
2,ae4d0de523edff711663ad19ab2489356a64f836807d92...,36,2,50.30
3,c66625f6461a582d92591af340025f6b336872c9446d78...,2,6,10.80
4,c66625f6461a582d92591af340025f6b336872c9446d78...,45,6,59.00
5,ac19023300564c1d546e577aa65dc9101054eb473b2060...,36,1,25.15
6,ae4d0de523edff711663ad19ab2489356a64f836807d92...,15,7,30.00
7,ae4d0de523edff711663ad19ab2489356a64f836807d92...,4,9,27.99
8,ac19023300564c1d546e577aa65dc9101054eb473b2060...,36,2,50.30
9,ac19023300564c1d546e577aa65dc9101054eb473b2060...,15,14,60.00
10,ac19023300564c1d546e577aa65dc9101054eb473b2060...,2,3,5.40
11,64ed52f529f8a4a6c83983148945d82442a51c4ed199fd...,12,4,95.00
12,c66625f6461a582d92591af340025f6b336872c9446d78...,2,6,10.80
13,ac19023300564c1d546e577aa65dc9101054eb473b2060...,36,3,75.45
14,64ed52f529f8a4a6c83983148945d82442a51c4ed199fd...,4,3,9.33
15,64ed52f529f8a4a6c83983148945d82442a51c4ed199fd...,12,8,190.00
16,64ed52f529f8a4a6c83983148945d82442a51c4ed199fd...,2,3,5.40
17,c66625f6461a582d92591af340025f6b336872c9446d78...,2,6,10.80
18,c66625f6461a582d92591af340025f6b336872c9446d78...,15,7,30.00
19,ae4d0de523edff711663ad19ab2489356a64f836807d92...,23,1,36.00

In [16]:
# Export back to csv
data.to_csv("anonymized_order.csv")