In [2]:
import pandas as pd
import re

In [3]:
gen_data = pd.read_csv("Plant_1_Generation_Data.csv")
gen_data = gen_data.groupby(gen_data['DATE_TIME']).sum().drop('TOTAL_YIELD', 1)
gen_data.index = gen_data.index.map(lambda x: re.sub('(\d{2})-(\d{2})-(\d{4}) (\d{2}:\d{2})', '\\3-\\2-\\1 \\4', x))
gen_data.sort_index(inplace=True)
gen_data

                  PLANT_ID  DC_POWER  AC_POWER    DAILY_YIELD
DATE_TIME
2020-05-15 00:00  86835021       0.0       0.0       0.000000
2020-05-15 00:15  86835021       0.0       0.0       0.000000
2020-05-15 00:30  86835021       0.0       0.0       0.000000
2020-05-15 00:45  86835021       0.0       0.0       0.000000
2020-05-15 01:00  90970022       0.0       0.0       0.000000
...                    ...       ...       ...            ...
2020-06-17 22:45  90970022       0.0       0.0  129571.000000
2020-06-17 23:00  90970022       0.0       0.0  129571.000000
2020-06-17 23:15  90970022       0.0       0.0  129571.000000
2020-06-17 23:30  90970022       0.0       0.0  129571.000000
2020-06-17 23:45  90970022       0.0       0.0  127962.767857

[3158 rows x 4 columns]

In [4]:
weather_data = pd.read_csv("Plant_1_Weather_Sensor_Data.csv")
weather_data.set_index('DATE_TIME', inplace=True)
weather_data.index = weather_data.index.map(lambda x: x[:-3])
weather_data.sort_index(inplace=True)
weather_data.drop('PLANT_ID', 1, inplace=True)
weather_data

,SOURCE_KEY,AMBIENT_TEMPERATURE,MODULE_TEMPERATURE,IRRADIATION
DATE_TIME,,,,
2020-05-15 00:00,HmiyD2TTLFNqkNe,25.184316,22.857507,0.0
2020-05-15 00:15,HmiyD2TTLFNqkNe,25.084589,22.761668,0.0
2020-05-15 00:30,HmiyD2TTLFNqkNe,24.935753,22.592306,0.0
2020-05-15 00:45,HmiyD2TTLFNqkNe,24.846130,22.360852,0.0
2020-05-15 01:00,HmiyD2TTLFNqkNe,24.621525,22.165423,0.0
...,...,...,...,...
2020-06-17 22:45,HmiyD2TTLFNqkNe,22.150570,21.480377,0.0
2020-06-17 23:00,HmiyD2TTLFNqkNe,22.129816,21.389024,0.0
2020-06-17 23:15,HmiyD2TTLFNqkNe,22.008275,20.709211,0.0
2020-06-17 23:30,HmiyD2TTLFNqkNe,21.969495,20.734963,0.0
2020-06-17 23:45,HmiyD2TTLFNqkNe,21.909288,20.427972,0.0

In [23]:
data = gen_data.join(weather_data)
data['AMBIENT_TEMPERATURE'] = data['AMBIENT_TEMPERATURE'].interpolate()
data['MODULE_TEMPERATURE'] = data['MODULE_TEMPERATURE'].interpolate()
data['IRRADIATION'] = data['IRRADIATION'].interpolate()
data['DC_POWER'] = data['DC_POWER'].map(lambda x: 1 if x > 0 else 0)
data

,PLANT_ID,DC_POWER,AC_POWER,DAILY_YIELD,SOURCE_KEY,AMBIENT_TEMPERATURE,MODULE_TEMPERATURE,IRRADIATION
DATE_TIME,,,,,,,,
2020-05-15 00:00,86835021,0,0.0,0.000000,HmiyD2TTLFNqkNe,25.184316,22.857507,0.0
2020-05-15 00:15,86835021,0,0.0,0.000000,HmiyD2TTLFNqkNe,25.084589,22.761668,0.0
2020-05-15 00:30,86835021,0,0.0,0.000000,HmiyD2TTLFNqkNe,24.935753,22.592306,0.0
2020-05-15 00:45,86835021,0,0.0,0.000000,HmiyD2TTLFNqkNe,24.846130,22.360852,0.0
2020-05-15 01:00,90970022,0,0.0,0.000000,HmiyD2TTLFNqkNe,24.621525,22.165423,0.0
...,...,...,...,...,...,...,...,...
2020-06-17 22:45,90970022,0,0.0,129571.000000,HmiyD2TTLFNqkNe,22.150570,21.480377,0.0
2020-06-17 23:00,90970022,0,0.0,129571.000000,HmiyD2TTLFNqkNe,22.129816,21.389024,0.0
2020-06-17 23:15,90970022,0,0.0,129571.000000,HmiyD2TTLFNqkNe,22.008275,20.709211,0.0
2020-06-17 23:30,90970022,0,0.0,129571.000000,HmiyD2TTLFNqkNe,21.969495,20.734963,0.0
2020-06-17 23:45,90970022,0,0.0,127962.767857,HmiyD2TTLFNqkNe,21.909288,20.427972,0.0

### Feature engineering using standard deviation

In [25]:
factor = 2
upper_lim = data['IRRADIATION'].mean() + data['IRRADIATION'].std() * factor
lower_lim = data['IRRADIATION'].mean() - data['IRRADIATION'].std() * factor

print(upper_lim)
print(lower_lim)

data = data[(data['IRRADIATION'] < upper_lim) & (data['IRRADIATION'] > lower_lim)]
data

0.8306982365950546
-0.37142767829805706

,PLANT_ID,DC_POWER,AC_POWER,DAILY_YIELD,SOURCE_KEY,AMBIENT_TEMPERATURE,MODULE_TEMPERATURE,IRRADIATION
DATE_TIME,,,,,,,,
2020-05-15 00:00,86835021,0,0.0,0.000000,HmiyD2TTLFNqkNe,25.184316,22.857507,0.0
2020-05-15 00:15,86835021,0,0.0,0.000000,HmiyD2TTLFNqkNe,25.084589,22.761668,0.0
2020-05-15 00:30,86835021,0,0.0,0.000000,HmiyD2TTLFNqkNe,24.935753,22.592306,0.0
2020-05-15 00:45,86835021,0,0.0,0.000000,HmiyD2TTLFNqkNe,24.846130,22.360852,0.0
2020-05-15 01:00,90970022,0,0.0,0.000000,HmiyD2TTLFNqkNe,24.621525,22.165423,0.0
...,...,...,...,...,...,...,...,...
2020-06-17 22:45,90970022,0,0.0,129571.000000,HmiyD2TTLFNqkNe,22.150570,21.480377,0.0
2020-06-17 23:00,90970022,0,0.0,129571.000000,HmiyD2TTLFNqkNe,22.129816,21.389024,0.0
2020-06-17 23:15,90970022,0,0.0,129571.000000,HmiyD2TTLFNqkNe,22.008275,20.709211,0.0
2020-06-17 23:30,90970022,0,0.0,129571.000000,HmiyD2TTLFNqkNe,21.969495,20.734963,0.0
2020-06-17 23:45,90970022,0,0.0,127962.767857,HmiyD2TTLFNqkNe,21.909288,20.427972,0.0

### Feature engineering using percentiles

In [26]:
upper_lim = data['AMBIENT_TEMPERATURE'].quantile(0.95)
lower_lim = data['AMBIENT_TEMPERATURE'].quantile(0.05)

print(upper_lim)
print(lower_lim)

data = data[(data['AMBIENT_TEMPERATURE'] < upper_lim) & (data['AMBIENT_TEMPERATURE'] > lower_lim)]
data

32.010325885
21.47650979333333

,PLANT_ID,DC_POWER,AC_POWER,DAILY_YIELD,SOURCE_KEY,AMBIENT_TEMPERATURE,MODULE_TEMPERATURE,IRRADIATION
DATE_TIME,,,,,,,,
2020-05-15 00:00,86835021,0,0.0,0.000000,HmiyD2TTLFNqkNe,25.184316,22.857507,0.0
2020-05-15 00:15,86835021,0,0.0,0.000000,HmiyD2TTLFNqkNe,25.084589,22.761668,0.0
2020-05-15 00:30,86835021,0,0.0,0.000000,HmiyD2TTLFNqkNe,24.935753,22.592306,0.0
2020-05-15 00:45,86835021,0,0.0,0.000000,HmiyD2TTLFNqkNe,24.846130,22.360852,0.0
2020-05-15 01:00,90970022,0,0.0,0.000000,HmiyD2TTLFNqkNe,24.621525,22.165423,0.0
...,...,...,...,...,...,...,...,...
2020-06-17 22:45,90970022,0,0.0,129571.000000,HmiyD2TTLFNqkNe,22.150570,21.480377,0.0
2020-06-17 23:00,90970022,0,0.0,129571.000000,HmiyD2TTLFNqkNe,22.129816,21.389024,0.0
2020-06-17 23:15,90970022,0,0.0,129571.000000,HmiyD2TTLFNqkNe,22.008275,20.709211,0.0
2020-06-17 23:30,90970022,0,0.0,129571.000000,HmiyD2TTLFNqkNe,21.969495,20.734963,0.0
2020-06-17 23:45,90970022,0,0.0,127962.767857,HmiyD2TTLFNqkNe,21.909288,20.427972,0.0

In [28]:
upper_lim = data['MODULE_TEMPERATURE'].quantile(0.95)
lower_lim = data['MODULE_TEMPERATURE'].quantile(0.05)

print(upper_lim)
print(lower_lim)

data = data[(data['MODULE_TEMPERATURE'] < upper_lim) & (data['MODULE_TEMPERATURE'] > lower_lim)]
data

49.56403534
19.808542967857147

,PLANT_ID,DC_POWER,AC_POWER,DAILY_YIELD,SOURCE_KEY,AMBIENT_TEMPERATURE,MODULE_TEMPERATURE,IRRADIATION
DATE_TIME,,,,,,,,
2020-05-15 00:00,86835021,0,0.0,0.000000,HmiyD2TTLFNqkNe,25.184316,22.857507,0.0
2020-05-15 00:15,86835021,0,0.0,0.000000,HmiyD2TTLFNqkNe,25.084589,22.761668,0.0
2020-05-15 00:30,86835021,0,0.0,0.000000,HmiyD2TTLFNqkNe,24.935753,22.592306,0.0
2020-05-15 00:45,86835021,0,0.0,0.000000,HmiyD2TTLFNqkNe,24.846130,22.360852,0.0
2020-05-15 01:00,90970022,0,0.0,0.000000,HmiyD2TTLFNqkNe,24.621525,22.165423,0.0
...,...,...,...,...,...,...,...,...
2020-06-17 22:45,90970022,0,0.0,129571.000000,HmiyD2TTLFNqkNe,22.150570,21.480377,0.0
2020-06-17 23:00,90970022,0,0.0,129571.000000,HmiyD2TTLFNqkNe,22.129816,21.389024,0.0
2020-06-17 23:15,90970022,0,0.0,129571.000000,HmiyD2TTLFNqkNe,22.008275,20.709211,0.0
2020-06-17 23:30,90970022,0,0.0,129571.000000,HmiyD2TTLFNqkNe,21.969495,20.734963,0.0
2020-06-17 23:45,90970022,0,0.0,127962.767857,HmiyD2TTLFNqkNe,21.909288,20.427972,0.0

### Feature selection using wrapper method (recursive feature elimination)

In [29]:
from sklearn.feature_selection import RFE
from sklearn.ensemble import RandomForestClassifier

x_train = data.drop(['DC_POWER', 'AC_POWER', 'SOURCE_KEY', 'PLANT_ID'], 1)
estimator = RandomForestClassifier(random_state = 42)
selector = RFE(estimator, n_features_to_select=2, step=1)
selector = selector.fit(x_train, data['DC_POWER'])

rfe_mask = selector.get_support()
new_features = [] 

for bool, feature in zip(rfe_mask, x_train.columns):
    if bool:
        new_features.append(feature)
new_features

['MODULE_TEMPERATURE', 'IRRADIATION']